body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

main {
  max-width: 1024px;
  margin: auto;
}

h4 {
  line-height: 1;
  margin: 2em 0 0.6em;
}

p, ul {
  margin: 0 0 1em;
}

code {
  background-color: rgba(220,220,220,.5);
}